flask
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
flask-migrate
flask-jwt-extended
flask-cors
psycopg2-binary
werkzeug
python-dotenv
cloudinary
requests

# Dev & Testing
pytest
pytest-flask
faker
gunicorn
